@tailwind base;
@tailwind components;
@tailwind utilities;

.custom- {
    width: 100%;
    max-width: 1200px; /* Maksimal kenglik */
    margin-left: auto; /* O'ng va chap tomondan markazlash */
    margin-right: auto;
    padding-left: 15px; /* Ichki bo'shliq */
    padding-right: 15px;
}

.oswald {
  font-family: "IBM Plex Sans", serif;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Freestyle';
  font-style:normal ;
  font-weight: 300;
  src: local('Freestyle Script Regular'), url('./Fonts/FREESCPT.woff') format('woff');
}

@font-face {
  font-family: 'gilroy';
  src: url('./Fonts/gilroy-bold.ttf') format('truetype');
  font-weight: 400;
  font-style: bold;
}

.prise-img {
  background-image: url(https://ik.imagekit.io/vtroph5l9/Product/Group%201%204.png?updatedAt=1737192663032);
  background-color: #ED9EA1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.prise {
  background-image: url(https://ik.imagekit.io/vtroph5l9/Product/Group%201%205.png?updatedAt=1737192729248);
  background-color: #ED9EA1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.foryou-img {
  background-image: url(https://ik.imagekit.io/vtroph5l9/Product/Layer%206%201.png?updatedAt=1737192618585);
  background-size: cover;
  background-repeat: no-repeat;
}


